# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
.Python

# Virtual environment
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
parts/
sdist/
var/
*.whl

# PyInstaller
*.manifest
*.spec

# MyPy
.mypy_cache/
.dmypy.json
.dmypy/

# Pytest
.pytest_cache/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs and temp files
*.log
*.tmp
*.swp

# OS files
.DS_Store
Thumbs.db
